[Unit]
Description=APRS World network configuration from EEPROM

Before=network-pre.target
Wants=network-pre.target

DefaultDependencies=no
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot

ExecStart=/usr/local/sbin/aprsNetworkConfig

StandardOutput=null

RemainAfterExit=yes

[Install]
WantedBy=network.target
